In [2]:
from sqlalchemy import create_engine
import pandas as pd

In [3]:
engine = create_engine('sqlite:///sqlite_db_pythonsqlite.db')

In [4]:
con = engine.connect()

In [5]:
rs = con.execute("SELECT * FROM FACILITIES")

In [6]:
df = pd.DataFrame(rs.fetchall())

In [7]:
df.columns = rs.keys()

In [8]:
df

,facid,name,membercost,guestcost,initialoutlay,monthlymaintenance
0,0,Tennis Court 1,5.0,25.0,10000,200
1,1,Tennis Court 2,5.0,25.0,8000,200
2,2,Badminton Court,0.0,15.5,4000,50
3,3,Table Tennis,0.0,5.0,320,10
4,4,Massage Room 1,9.9,80.0,4000,3000
5,5,Massage Room 2,9.9,80.0,4000,3000
6,6,Squash Court,3.5,17.5,5000,80
7,7,Snooker Table,0.0,5.0,450,15
8,8,Pool Table,0.0,5.0,400,15